.container {
    background-color:rgba(171, 199, 223, 0.12);;
    width: 100%;
    padding: 20px;
}

.titleName{
    margin:20px ;
}

.titleLbl{
font-size: 40px;
color: blue;
font-weight: bold;
}

.mainCon {
    justify-content: center;
    align-items: center;
    display: flex;
}

.formCon{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
}

.conLblInp{
    justify-content: space-around;
    align-items: center;
    display: flex; 
    margin: 20px;
    /* width: 400px; */
    
}

.lbl{
    align-self: flex-start;
    text-align: left;
    margin: 0 auto;
    width: 300px; 
}



.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    /* border-radius: 35px; */
    /* background: #DEEDFA; */
    /* flex-direction: row; */
    justify-content: space-between;
    padding: 1rem;
    /* display: flex; */
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}
.lblCon {
    align-items: center;
    justify-content: center;
    padding-left: 10px;
   
}

.lblConF {
    align-items: center;
    justify-content: center;
    /* padding: 0.7rem; */
    margin-left: 60px;
}

.titleCard {
    color: #656566;
    /* heading content */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    
}

.titleCardDet {
    color: #666565;
    /* content */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.cobBoder {
    border: 4px solid red;
    margin-left: 40%;
    margin-right: 40%;
    padding: 20px;
}

.inp{
    width: 200px;
    height: 30px;
}