/* styles.css */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* max-width: 320px; */
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.modalContent h2 {
    text-align: center;
    color: #003D59;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modalContent form {
    display: flex;
    flex-direction: column;
}

.modalContent input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modalContent button {
    background-color: #0070f3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    align-self: center;
}

.modalContent .error {
    color: red;
    margin-top: 10px;
}

.staticInfCon {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #DEEDFA;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    /* border-radius: 35px; */
    /* background: #DEEDFA; */
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    display: flex;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

/* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */



.lblCon {
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.lblConF {
    align-items: center;
    justify-content: center;
    /* padding: 0.7rem; */
    margin-left: 60px;
}

.titleCard {
    color: #666565;
    /* heading content */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
}

.titleCardDet {
    color: #666565;
    /* content */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

.closeIcon {
    display: flex;
    align-self: baseline;
    padding: 10px;
}

.loginFormCon {
    display: flex;
    flex-direction: column;
}

.headingIns {
    color: #464646;
    font-family: Source Sans Pro;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    /* 112.5% */
}

.imgIcon{
    /* height: 30px; */
    width: 30px;
    align-self: center;
}